/* 共通部分 */
html {
    font-size: 100%;
}
main {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic,
        "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7; /* 行の高さの指定 */
    color: $brown;
}
a {
    text-decoration: none !important;
}
img {
    max-width: 100%;
}
/* HEADER */
.logo {
    width: 155px;
    margin-top: -3px;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    li {
        margin-left: 36px;
    }
    a {
        color: $brown;
    }
    a:hover {
        color: $lightcyan;
    }
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto !important;
    padding: 0 4%;
}
/* HOME */
.home-content {
    /* 画面中央と余白の指定 */
    text-align: center;
    margin-top: 11% !important;
}
.home-content p {
    /* <p>タグへのフォントサイズと余白の指定 */
    width: 75%;
    border-radius: 10%;
    font-size: 1.125rem;
    margin: 40px auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.466);
}
/* 見出し */
.page-title {
    font-size: 5rem;
    font-family: "Philosopher", serif;
    text-transform: uppercase;
    font-weight: normal;
}
/* ボタン */
.button {
    font-size: 1.375rem;
    background: $lightcyan;
    color: $white;
    border-radius: 5px;
    padding: 18px 32px;
    &:hover {
        background: $darkcyan;
        color: $white;
    }
}
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    border-bottom: 1px solid;
}
#home {
    background-image: url(/images/audience.jpg);
    min-height: 100vh;
    & .page-title {
        text-transform: none;
    }
}
