@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
        li {
            margin: 0 20px;
        }
    }
    /* HOME */
    .home-content {
        margin-top: 20%;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }
    /* NEWS */
    .news-contents {
        flex-direction: column;
    }
    article,
    aside {
        width: 100%;
    }
    #news .page-title {
        margin-top: 30px;
    }
    aside {
        margin-top: 60px;
    }
    .post-info {
        margin-top: 10px;
    }
    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
        span {
            font-size: 0.875rem;
            padding-top: 2px;
        }
    }
    .post-title {
        font-size: 1.375rem;
    }
    .post-cat {
        font-size: 0.875rem;
        padding-top: 10px;
    }
    .post-title,
    .post-cat {
        margin-left: 80px;
    }

    /* INFOMATION */
    .info-content.wrapper {
        margin-top: 20% !important;
        p {
            margin: 20px 0 0 !important;
        }
    }
    .big-box {
        grid-column: auto !important;
        grid-row: auto !important;
        margin-bottom: 30px;
        grid-column: 1/3;
        grid-row: 1/3;
        img {
            height: 100% !important;
        }
    }
    /* CONTACT */
    #contact .page-title {
        margin-top: 40px;
    }
    /* フォーム */
    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 94% !important;
    }
    /* 店舗情報・地図 / SNS */
    #location .wrapper,
    #sns .wrapper {
        flex-direction: column;
    }
    .location-info,
    .location-map,
    .sns-box {
        width: 100% !important;
    }
    .sns-box {
        margin-bottom: 30px;
    }
    /* admin.index */
    .admin-top {
        width: 200px !important;
        margin: 10px auto 0 auto;
        ul li {
            list-style: none;
            height: 50px;
            border: 2px solid gray;
            a {
                display: inline-block;
                line-height: 45px;
                font-size: 1rem !important;
            }
        }
    }
    // sold-item
    img.img-fluid {
        width: 100%;
        height: 100% !important;
    }
}
