h5.card-title.item-name {
    color: $brown;
}
h5.card-title.item-name:hover {
    color: $cyan;
}

@media (max-width: 600px) {
    nav.navbar.navbar-light.bg-light.item-search {
        max-width: 100% !important;
    }
}
