h5.card-title.item-name {
    color: $brown;
}
h5.card-title.item-name:hover {
    color: $cyan;
}

a.btn.btn-primary.sold_items {
    margin-top: -95px;
}

@media (max-width: 600px) {
    nav.navbar.navbar-light.bg-light.item-search {
        max-width: 100% !important;
    }

    a.btn.btn-primary.sold_items {
        margin: -95px 0 -10px 10px;
    }
}
