// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
.row.article-post {
    margin-top: 15px;
    text-align: center;
}
@media (max-width: 600px) {
    .alert-success {
        font-size: 11px;
    }
}

// top
@import "home";

// news
@import "article";

// footer
@import "footer";

// aside
@import "aside";

// responsive
@import "responsive";

// information
@import "information";

// contact
@import "contact";

// admin
@import "admin/admin";

// hader_nav
@import "header_nav";
