@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css");
// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #f4f7f8;
}

.navbar {
    margin: 2rem 0 2.5rem 0;
}

.my-navbar {
    align-items: center;
    background: #333;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    padding: 0 2%;
    margin-bottom: 3rem;
}

.my-navbar-brand {
    font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item {
    color: #8c8c8c;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
    color: #ffffff;
}

.header-title.post {
    width: 250px;
    height: 5rem;
    margin: 25px auto;
    background-color: rgba(0, 255, 255, 0.297);
    text-align: center;
    font-size: 2rem;
    border: inset 10px;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
    white-space: nowrap;
    width: 1px;
}

.form-control[disabled],
.form-control[readonly] {
    background-color: #fff;
}
.panel-default > .panel-heading {
    font-size: 2rem;
}
label.article {
    font-size: 2rem;
}
.article-image {
    font-size: 2rem;
    font-weight: bold;
}
.btn {
    width: 7rem;
    height: 4rem;
    font-size: 2rem;
}
.form-control {
    height: 35px;
    font-size: 1.5rem;
}
.input-form {
    margin: 0 auto;
    width: 90%;
}
// global_header
.logo {
    width: 155px;
    margin-top: -3px;
}
/*========= ぼかしのためのCSS ===============*/

.mainblur {
    filter: blur(8px);
}

/*========= ナビゲーションのためのCSS ===============*/

#g-nav {
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position: fixed;
    z-index: -1;
    opacity: 0; /*はじめは透過0*/
    /*ナビの位置と形状*/
    top: 0;
    width: 100%;
    height: 100vh; /*ナビの高さ*/
    background: rgba(255, 255, 255, 0.966) !important; /*背景を少し透過させる*/
    /*動き*/
    transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive {
    opacity: 1;
    z-index: 999;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh; /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    width: 80%;
    display: none; /*はじめは非表示*/
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#g-nav.panelactive ul {
    padding: 0 10px 0 0;
    display: block;
}
/*リストのレイアウト設定*/

#g-nav li {
    font-size: 1.5rem;
    list-style: none;
    text-align: center;
    span {
        color: #e3342f;
    }
}

#g-nav li a {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}
#g-nav li a:hover {
    color: #0bd;
}
.logout-hover:hover {
    color: red !important;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
    position: fixed;
    z-index: 9999; /*ボタンを最前面に*/
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.alert.alert-danger {
    vertical-align: middle;
    padding-bottom: 30px;
    font-size: 12px;
}

/*×に変化*/
.openbtn span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
}

.openbtn span:nth-of-type(1) {
    top: 15px;
}

.openbtn span:nth-of-type(2) {
    top: 23px;
}

.openbtn span:nth-of-type(3) {
    top: 31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*========= レイアウトのためのCSS ===============*/

.main-logo {
    font-size: 1.2rem;
}

#header-logo {
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

@media (max-width: 600px) {
    img.image-form-box {
        width: 100% !important;
    }
}
